{% load static %}
<html>
<head>
<title>E-Voting</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow"><b>Privacy and Transparency in E-Voting using Blockchain</b></font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'index' %}">Home</a></li>
	  <li><a href="{% url 'Admin' %}">Admin Login</a></li>
      <li><a href="{% url 'Login' %}">User Login</a></li>
      <li><a href="{% url 'Register' %}">Register Here</a></li>
			
		</center></ul>
		<br class="clearfix" />
	</div>
	<div id="splash">
		<img class="pic" src="../static/images/image1.jpg" width="870" height="230" alt="bharath" />
	</div>
	<br/>
	<p align="justify"><center><b><font size="5" style="font-family: Comic Sans MS">
	Privacy and Transparency in E-Voting using Blockchain</font></b></center>

</p>
</div>
</body>
</html>
